

#about_content {
	padding: 50px 0 50px 0;
    background-image: url('../../assets/best.png');
	text-align: center;
	font-size: 35px;
	background-size: 200px;
	box-shadow: 0px 0px 3px #888;
	color: black;
	text-shadow: white 0px 0px 5px;
	background-position: center;
	background-color: #fafafa;
	background-repeat: no-repeat;
}

#disclaimer {
	margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;
}    
#disclaimer a {
	cursor: pointer;
}
