

<link href="css/partials/footer.css" rel="stylesheet" type='text/css'/>	

<div id="footer_container" >

	<div id="footer"> 
		<a href="index#panel1">Home </a>&nbsp&nbsp|&nbsp &nbsp
		<a href="about">About</a>&nbsp&nbsp |&nbsp &nbsp
		<a href="#panel1">
			<img id=footlogo src="assets/best.png">
		</a>	
	</div>

</div>
