<!--- header bar partial  -->

<link href="css/partials/header.css" rel="stylesheet" type='text/css'/>	

<div id = "logo">
	<p id="title">
		<%=config.appName%> (<%=version%>)
	</p>
	<div id="right-menu">
		<a href="index#panel1">Home </a>&nbsp&nbsp|&nbsp &nbsp
		<a href="about">About</a>
	</div>		
</div>
<div id="messageBox"></div>
		
