
<style>
#mb-text-modal {
	background-color: white;
	text-align: center;
	height: 150px;
	min-width: 400px;
	padding: 15px;
	overflow-y: auto;
}
#mb-text {
	margin: auto;
}
.text-modal-field {
	height: 25px;
    font-size: 20px;
    width: 200px;	
}

.vg-title{
    background-color: #f1f1f1;
}

</style>

<div id = "mb-text-modal">

	<div id="mb-text">
		<p><%=msg%></p>
		<input id="text-modal-text-field" type="text" class="text-modal-field" >
	</div>

</div>
