<!doctype html>

<html>

<head>
	<% include ../partials/commonhead %>
	<link href="css/about.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<% include ../partials/header %>
		
	<div id = "about_content", class = "container">
		<%=config.appName %><br>
		A web tool on top of best-image npm module for extracting images from sites
		<div id="disclaimer">
		</div>	
	</div>

	<% include ../partials/footer %>
</body>
</html>

